.fadeIn {
  opacity: 0;
}

.fadeInVisible {
  animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pinkSectionTop {
  margin-top: -1.3rem;
  background-color: #ffc0cb;
  padding: 2rem 1rem;
  text-align: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  margin-bottom: 3rem;
}

.pinkSectionBottom {
  margin-top: 3rem;
  background-color: #ffc0cb;
  padding: 2rem 1rem;
  text-align: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  margin-bottom: -1.3rem;
}

.titulo {
  font-family: 'League Spartan';
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.tituloComFundo {
  background-color: #ffc0cb; /* Rosa claro */
  padding: 1rem 0.5rem;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.subtitulo {
  font-family: 'League Spartan';
  font-size: 30px;
  margin-bottom: 30px;
  color: #000000;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.historia {
  font-family: 'League Spartan';
  font-size: 25px;
  color: #414141;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.missao {
  font-family: 'League Spartan';
  font-size: 25px;
  color: #414141;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  transition: transform 0.5s ease;
}

.equipe {
  width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
  border-radius: 8px;
  object-fit: cover;
}


.container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  border: 2px solid #ff69b4;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.imagemContainer {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  border-radius: 8px;
  object-fit: cover;
}