.footer {
    background-color: #FF5991;
    color: #333;
    padding: 40px 0 20px;
    font-family: Arial, sans-serif;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 0 20px 30px;
}

.footer-column h4 {
    color: #F2F2F2;
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-column p, .footer-column a {
    color: #F5CBD9;
    line-height: 1.6;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer-column a:hover {
    color: #000;
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    filter: brightness(0) invert(1);
}

.social-icons a {
    color: #333;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #e1e1e1;
    margin-top: 30px;
    color: #F5CBD9;
    font-size: 14px;
}



@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .footer-column {
        margin-bottom: 30px;
        text-align: center;
    }
    
    .social-icons {
        justify-content: center;
    }

    .footer-logo-container {
        max-width: 120px; /* Reduzi o tamanho máximo */
        margin: 0 auto 15px;
        padding: 5px;
    }

    .footer-logo {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .footer-logo:hover {
        opacity: 0.9;
    }
}