/*
Componentes usados na página de Impressão 3D
*/

.container {
    padding: 2rem;
    background-color: #fff;
  }
  
  .titulo {
    font-family: 'League Spartan';
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }
  
  .subtitulo {
    font-family: 'League Spartan';
    font-size: 20px;
    margin-bottom: 10px;
    color: #000000;
    text-align: center;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
  }
  
  .card2 {
    background-color: #FF5991;
    border-radius: 12px;
    overflow: hidden;
    width: 300px;
    height: 425px;
    margin: 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
  }
  
  .imagem {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0;
  }
  
  .nome {
    font-family: 'League Spartan';
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    margin-bottom: 1px;
    margin-left: 10px;
  }
  
  .descricao {
    font-family: 'League Spartan';
    font-size: 16px;
    margin-bottom: 10px;
    text-align: justify;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .pinkSection {
    margin-top: 3rem;
    background-color: #ffbfd4;
    padding: 2rem 1rem;
    text-align: center;

    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }
  
  .videoWrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .video {
    width: 60%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 1rem;
  }

 .metodologiaSection {
    text-align: center;
    padding: 2rem;
    background-color: #fff;
  }
  
  .metodologiaSection .titulo {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-bottom: 1rem;
  }
  
  .metodologiaSection .subtitulo {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 2rem;
  }
  
  .metodologiaGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; 
    justify-items: center; 
    align-items: start; 
  }
  
  .metodologiaCard {
    width: 100%; 
    max-width: 300px; 
    height: 300px; 
    background-color: #fff;
    border: 4px solid #ff5991;
    border-radius: 40px;
    padding: 1.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .metodologiaCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
  }

  /*.metodologiaCard h3 {  talvez depois inclua
    font-size: 1.25rem;
    font-weight: bold;
    color: #ff5991;
    margin-bottom: 0.5rem;
  } */
  
  .metodologiaCard p {
    font-size: 1.35rem;
    color: #333;
    line-height: 1.25;
    margin-bottom: 1rem;
    text-align: center;
  }

  .metodologiaIcon {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 1rem auto;
    background-color: #ff5991;
  }

  @media (max-width: 1024px) {
    .metodologiaGrid {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 768px) {
    .metodologiaGrid {
      grid-template-columns: 1fr; 
    }
  }
  
