@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slideContainer {
  max-width: 600px;
  margin: 0 auto;
}

.slide {
  text-align: center;
}

.foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 10px;
}

h3 {
  font-size: 1.5rem;
  color: #333;
}

p {
  font-size: 1rem;
  color: #666;
}
  
  .navButton {
    background-color: #ff5991;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .navButton:hover {
    background-color: #e04d7f;
  }
  
  .navButton:first-of-type {
    left: 10px;
  }
  
  .navButton:last-of-type {
    right: 10px;
  }